page-login {
    .footer {
        font-size: x-small;
    }

    ion-content {
        background-image:       url("../../assets/imgs/background-2.jpg");
        background-size:        cover;
        background-repeat:      no-repeat;
        background-position:    center center;
    }
}
