page-reminders {
    ion-content {
        background-image:       url("../../resources/background-1.jpg");
        background-size:        cover;
        background-repeat:      no-repeat;
        background-position:    center center;
    }
}
