<ion-header>
    <navbar-strip></navbar-strip>
</ion-header>

<ion-content padding>
  <div *ngIf="loading == true" class="spinner-container">
    <p>Loading ...</p>
    <ion-spinner class="center-pos"></ion-spinner>
  </div>

  <div *ngIf="!bInternetConnected" class="spinner-container">
      <ion-icon name="ionitron" class="button-text-icon"></ion-icon> No internet connection <ion-icon name="close-circle" class="button-text-icon"></ion-icon>
  </div>

  <ion-refresher (ionRefresh)="refreshTriggers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let reminder of sentList;">
    <ion-card-header>
      {{reminder.title}}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="reminderIcon">
        </ion-avatar>
        <p>On {{reminder.date}}</p>
        <p>At {{reminder.time}}</p>
        <p color="icon">From {{reminder.displayName}} &lt; {{reminder.phoneNumber}} &gt;</p>
        <p>{{reminder.description}}</p>
        <p *ngIf="reminder.status == 0">Reminder sent</p>
        <p *ngIf="reminder.status == 1">Reminder accepted !</p>
        <p *ngIf="reminder.status == 2">Reminder ignored by receiver</p>
        <p *ngIf="reminder.status == 3">Reminder canceled by sender</p>
        <p *ngIf="reminder.status == 4">Completed !</p>
        <div>
          <button ion-button round color="danger" (click)="onSMS(reminder.phoneNumber)">
            <span class="button-text-icon">SMS&nbsp;</span>
            <ion-icon name="mail" class="button-text-icon"></ion-icon>
          </button>
          <button ion-button round color="icon" (click)="onCancel(reminder.phoneNumber)">
            <span class="button-text-icon">Cancel&nbsp;</span>
            <ion-icon name="close" class="button-text-icon"></ion-icon>
          </button>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

