<ion-header>
    <navbar-strip></navbar-strip>
</ion-header>

<ion-content padding>
  <div *ngIf="loading == true" class="spinner-container">
    <p>Loading ...</p>
    <ion-spinner class="center-pos"></ion-spinner>
  </div>

  <div *ngIf="!bInternetConnected" class="spinner-container">
      <ion-icon name="ionitron" class="button-text-icon"></ion-icon> No internet connection <ion-icon name="close-circle" class="button-text-icon"></ion-icon>
  </div>

  <ion-refresher (ionRefresh)="refreshReminders($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngFor="let reminder of receivedList;">
    <ion-card *ngIf="reminder.status < 2">
      <ion-card-header>
          {{reminder.title}}
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="alarmIcon">
          </ion-avatar>
          <p>On {{reminder.date}}</p>
          <p>At {{reminder.time}}</p>
          <p color="icon">From {{reminder.displayName}} &lt; {{reminder.phoneNumber}} &gt;</p>
          <p>{{reminder.description}}</p>
          <p *ngIf="reminder.status == 0">Reminder received</p>
          <p *ngIf="reminder.status == 1">Reminder accepted !</p>
          <div>
            <button *ngIf="reminder.status == 0" ion-button round color="label" (click)="onAccept(reminder.phoneNumber)">
              <span class="button-text-icon">Accept&nbsp;</span>
              <ion-icon name="checkmark" class="button-text-icon"></ion-icon>
            </button>
            <button ion-button round color="danger" (click)="onIgnore(reminder.phoneNumber)">
              <span class="button-text-icon">Ignore&nbsp;</span>
              <ion-icon name="close" class="button-text-icon"></ion-icon>
            </button>
          </div>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
