page-reminder-list {
    ion-content {
        background-image:       url("assets/imgs/background-1.jpg");
        background-size:        cover;
        background-repeat:      no-repeat;
        background-position:    center center;
    }

    .spinner-container {
        width: 100%;
        text-align: center;
    }

    .button-text-icon{
        display: inline-block;
        vertical-align: middle;
    }
}
