<!--
  Generated template for the CircleTabInCirclePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterCircle()"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="loading == true" class="spinner-container">
    <p>Loading ...</p>
    <ion-spinner class="center-pos"></ion-spinner>
  </div>
  
  <ion-refresher (ionRefresh)="refreshCircleList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!bConnected">
      <ion-icon name="ionitron" class="button-text-icon"></ion-icon> No internet connection <ion-icon name="close-circle" class="button-text-icon"></ion-icon>
  </div>

  <ion-list [virtualScroll]="normilizedCircleList">
    <ion-item *virtualItem="let contact">
      <ion-avatar *ngIf="contact.image" item-start>
        <img [src]="contact.image">
      </ion-avatar>
      
      {{contact.displayName}}
      <p>{{contact.phoneNumber}}</p>
      <p>{{contact.circleExtra.acceptedTimestamp}}</p>
      <p ion-text>Minimum Daily: {{contact.circleExtra.minReminders}}</p>
      <p ion-text>Maximum Daily: <span *ngIf="contact.circleExtra.maxReminders < 0">Unlimited</span>
        <span *ngIf="contact.circleExtra.maxReminders > 0">{{contact.circleExtra.maxReminders}}</span>&nbsp;<ion-icon *ngIf="contact.bUpdating" name="alarm" class="button-text-icon"></ion-icon>
      </p>
      
      <div>
        <!--<ion-icon color="icon" name="md-checkmark-circle-outline" class="button-text-icon"></ion-icon>-->
        <button ion-button round color="icon" (click)="onSettings(contact.phoneNumber)">
            <span class="button-text-icon">Settings</span>&nbsp;<ion-icon name="settings" class="button-text-icon"></ion-icon>
        </button>
        <button ion-button round color="danger" (click)="onReminder(contact.phoneNumber)" item-end>
            <span class="button-text-icon">Reminder</span>&nbsp;<ion-icon name="alarm" class="button-text-icon"></ion-icon>
        </button>
      </div>
      
    </ion-item>
  </ion-list>
</ion-content>
