page-circle-tab-in-circle {
    .spinner-container {
        width: 100%;
        text-align: center;
    }

    .button-text-icon{
        display: inline-block;
        vertical-align: middle;
    }
}
