<!--
  Generated template for the CircleTabRemainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="showSpinner == true" class="spinner-container">
    <p>Please wait while loading contacts ...</p>
    <ion-spinner class="center-pos"></ion-spinner>
  </div>
  <div *ngIf="searching == true" class="spinner-container">
    <p>Loading ...</p>
    <ion-spinner class="center-pos"></ion-spinner>
  </div>

  <ion-refresher (ionRefresh)="refreshContacts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list [virtualScroll]="filteredContactList">
    <ion-item *virtualItem="let contact">
      <ion-avatar *ngIf="contact.image" item-start>
        <img [src]="contact.image">
      </ion-avatar>
      
      {{contact.displayName}}
      <p>{{contact.phoneNumber}}</p>
      <p ion-text color="danger" *ngIf="contact.onYadi == false">Invite on {{singletonService.appName}}</p>
      <p ion-text color="label" *ngIf="contact.onYadi && !contact.bInvitePresent && !contact.bSentPresent && !contact.bCirclePresent">Add to your Circle</p>
      <p ion-text color="label" *ngIf="contact.onYadi && contact.bInvitePresent && !contact.bCirclePresent">Circle invitation received</p>
      <p ion-text color="label" *ngIf="contact.onYadi && contact.bSentPresent && !contact.bCirclePresent">Circle invitation already sent</p>
      <p ion-text color="label" *ngIf="contact.onYadi && contact.bCirclePresent">Already in your Circle</p>
      
      <div *ngIf="!contact.bInvitePresent && !contact.bSentPresent && !contact.bCirclePresent" item-end>
        <button ion-button round [color]="contact.onYadi ? 'label' : 'danger'" (click)="onAddOrInvite(contact.phoneNumber, contact.onYadi)">
          <span *ngIf="contact.onYadi == true" class="button-text-icon">Add&nbsp;</span>
          <ion-icon *ngIf="contact.onYadi == true" name="add" class="button-text-icon"></ion-icon>

          <span *ngIf="contact.onYadi == false" class="button-text-icon">Invite</span>
        </button>
      </div>
      <div *ngIf="contact.bInvitePresent && !contact.bCirclePresent" item-end>
        <ion-icon name="person-add" class="button-text-icon"></ion-icon>
        <!-- Need to add an action button here, for accepting or rejecting invite-->
      </div>
      <div *ngIf="contact.bSentPresent && !contact.bCirclePresent" item-end>
        <ion-icon name="paper-plane" class="button-text-icon"></ion-icon>
      </div>
      <div *ngIf="contact.bCirclePresent" item-end>
        <ion-icon name="md-people" class="button-text-icon"></ion-icon>
      </div>
      
    </ion-item>
  </ion-list>
</ion-content>
