page-circle-tab-contacts {
    .center-pos {
        display: block;
        margin: auto;
      }
    
    .spinner-container {
        width: 100%;
        text-align: center;
    }

    .button-text-icon{
        display: inline-block;
        vertical-align: middle;
    }
}
